body::before{

    Font-size: 15px;    
    font-family: 'Montserrat', sans-serif;   
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: url(/images/bg-top.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;    
    text-align: justify; 
    background-color:  hsl(240, 78%, 98%);
       
   
}

h1 {
    text-align: center;
    justify-content: center;
    padding-top: 65px;
    color: hsl(237, 63%, 64%);
}

.menu {
    display: flex;
    flex-flow: row nowrap;
}

.anual {
    width: 100px;
    color: hsl(237, 63%, 64%);
}

.mensual {
    width: 100px;
    padding-left: 40px;
    color: hsl(237, 63%, 64%);
}    

.switch-container {
    padding-top: 50px; 
    justify-content: center;
    
}

.lbl {
    display: block;
    width: 65px;
    height: 33px;
    left: 36px;
    background: linear-gradient(-90deg , hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 100px;
    cursor: pointer;
    transition: .2s;
}

.lbl::after {
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    background: rgb(240, 235, 235);
    border-radius: 100px;
    position: relative;
    top: 4px;
    left: 4px;
    transition: .2s;
}

#switch:checked + .lbl::after {
    left: 36px;
}

#switch:checked + .lbl {
    left: 36px;
    background: linear-gradient(-90deg , hsl(237, 63%, 64%), hsl(236, 72%, 79%));
}




 #switch {
    display: none;
} 


li{    
    /* color: hsl(232, 11%, 60%); */
    border-top: 1px solid;
    border-color:  hsl(231, 23%, 84%);;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: small;

    
}
ul{
    height: 100%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 65px;
    padding-bottom: 0%;
}
h4{
    padding-top: 2em;
    text-align: center;
    font-size: large;
}
/*header{
    display: flex;
    flex-flow: row nowrap;
    background-image: url( /images/bg-top.svg); /* no repetir
    background-repeat: no-repeat;
    height: 25%;
    width: 100%;
}*/

.contenedor { 
    margin-top: 5em;
    background-image: url(/images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-size: auto;
    

}

.tarjeta{
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    height: 400px;
    width: 300px;
    box-shadow: 10px -1px rgb(237, 240, 240);
    -webkit-transition: height .5s;
}
.btn{
    width: 80%;
    left: 36px;
    background-color: hsl(236, 72%, 79%); 
    /* background-color: red; */
    cursor: pointer;
    padding-bottom: 5px;
}

.tarjeta:hover {
    height: 600px;
    background: linear-gradient(-90deg , hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    opacity: 50;
    
    
    
     

}

article:hover button{
    background-color: white;
    color:  hsl(237, 63%, 64%);
}

#correo {
    color: hsl(237, 63%, 64%);
}

#formulario {
    color: hsl(237, 63%, 64%);
}

